<h6>Nesting Components</h6>
<app-server></app-server>
<app-server></app-server>

<hr/>
<h6>String Interpolation & Property Binding & ngIf with else</h6>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click) ="onCreateServer()">Add Server</button>
<p *ngIf="isServerCreated; else noServer">Server was created. Status is: {{ serverCreationStatus }}</p>

<ng-template #noServer>
    <p>No server was created. Status is: {{ serverCreationStatus }}</p>
</ng-template>

<hr/>
<h6>Event Binding</h6>
<!--$event represent data immediate with the event, any event firing will passing the data-->
<input type="text" class="form-control" (input)="onUpdateServerName($event)"/>
<p>{{ serverName }}</p>

<hr/>
<h6>Two-Way Binding</h6>
<!--$event represent data immediate with the event, any event firing will passing the data-->
<input type="text" class="form-control" [(ngModel)]="serverName"/>
<p>{{ serverName }}</p>