<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary"
      (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li class="list-group-item"
          *ngFor="let odd of oddNumbers">
          {{ odd }}
          </li>
        </div>
        <div *ngIf="!onlyOdd">
          <li class="list-group-item"
          *ngFor="let even of evenNumbers">
          {{ even }}
          </li>  
        </div>

        <!--
          * Two structural directives disallow to combine into same element
          <li class="list-group-item"
          *ngFor="let number of numbers"
          *ngIf="number % 2 == 0"
          >
          {{ even }}
          </li>  
        -->
      </ul>
    </div>
  </div>
</div>